<div class="actions">
    <label>
        <input type="checkbox" (change)="onCheckboxChanged($event.target, 2)">
        <span>2 class</span>
    </label>
    <label>
        <input type="checkbox" (change)="onCheckboxChanged($event.target, 3)">
        <span>3 class</span>
    </label>
    <label>
        <input type="checkbox" (change)="onCheckboxChanged($event.target, 4)">
        <span>4 class</span>
    </label>
</div>

<div class="chart">
    <canvas id="pieChartCanvas" width="500" height="500"></canvas>
    <div class="arrow"></div>
</div>


