:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  padding-top: 50px;
}

.actions {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  gap: 10px;
}

.list-name {
  display: flex;
  flex-wrap: wrap;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


  label {
    font-size: 18px;
    padding: 20px;
    display: flex;
    align-items: center;
  }

  input {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
}

.wood-desk {
  &--item {
    padding: 30px;
    font-size: 1.5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    img {
      width: 100px;
      height: 100px;
    }
  }

  .active {
    border: 3px solid green;
    padding: 27px;
  }

  .selected {
    opacity: 0.25;
  }
}

.fourth-class {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;

  grid-template-areas:
    "Angelina Angelina Angelina Nadia Nadia Nadia Daria Daria Daria Demian Demian Demian"
    "Artem Artem Artem Artem Iryna Iryna Iryna Iryna Inesa Inesa Inesa Inesa"
    "Pavlo Pavlo Pavlo Pavlo Yurii Yurii Yurii Yurii Maksym Maksym Maksym Maksym";
}

.third-class {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;

  grid-template-areas:
    "Matvii Matvii Matvii Matvii Stas Stas Stas Stas Vlad Vlad Vlad Vlad"
    "Tymofii Tymofii Tymofii Diana Diana Diana Mykola Mykola Mykola Alina Alina Alina"
}

.second-class {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;

  grid-template-areas:
    "Sofia Sofia Sofia Sviatoslav Sviatoslav Sviatoslav"
    "Diana Diana Maksym Maksym Angelina Angelina"
}

.item--Angelina {
  grid-area: Angelina ;
}
.item--Sviatoslav {
  grid-area: Sviatoslav ;
}
.item--Diana {
  grid-area: Diana ;
}
.item--Maksym {
  grid-area: Maksym ;
}
.item--Sofia {
  grid-area: Sofia ;
}

.item--Diana {
  grid-area: Diana ;
}
.item--Tymofii {
  grid-area: Tymofii ;
}
.item--Matvii {
  grid-area: Matvii ;
}
.item--Vlad {
  grid-area: Vlad ;
}
.item--Alina {
  grid-area: Alina ;
}
.item--Stas {
  grid-area: Stas ;
}
.item--Mykola {
  grid-area: Mykola ;
}

.item--Angelina {
  grid-area: Angelina ;
}
.item--Iryna {
  grid-area: Iryna ;
}
.item--Nadia {
  grid-area: Nadia ;
}
.item--Artem {
  grid-area: Artem ;
}
.item--Maksym {
  grid-area: Maksym ;
}
.item--Demian {
  grid-area: Demian ;
}
.item--Yurii {
  grid-area: Yurii ;
}
.item--Pavlo {
  grid-area: Pavlo ;
}
.item--Daria {
  grid-area: Daria ;
}
.item--Inesa {
  grid-area: Inesa ;
}
