:host {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 680px;
  align-items: center;
  @media screen and (max-width: 991px) {
    height: 100%;
    margin-top: 20px;
  }
}

.category {
  &_list {
    width: 100%;
    margin-top: 60px;
    display: flex;
    padding: 0 50px;

  }

  &_cover {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 40px 10px;
    width: 50%;
    position: relative;

    @media screen and (max-width: 1249px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media screen and (max-width: 991px) {
      grid-template-columns: repeat(2, 1fr);
    }

    &.light-bg {
      background: rgb(47 203 255 / 25%);

      &:after {
        content: '+1 point';
        position: absolute;
        font-size: 32px;
        left: 50%;
        top: -40px;
        transform: translateX(-50%);
      }
    }
    &.hard-bg {
      background: rgb(245 176 0 / 25%);

      &:after {
        content: '+2 points';
        position: absolute;
        font-size: 32px;
        left: 50%;
        top: -40px;
        transform: translateX(-50%);
      }
    }
  }

  &_item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 10px;
    border-radius: 10px;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 5px;
    cursor: pointer;
    background: rgb(15 86 146);
    color: #f3c742;
    height: 110px;
  }
}

.light-bg > .category_item {
  background: rgb(128 202 255);
  color: #000;
}
.hard-bg > .category_item {
  background: rgb(249 175 163);
  color: #000;
}
