<div class="nav" [class.active]="activeMenu" (click)="onShowNav()">
    <div class="nav-item" (click)="navTo('/')">HOME</div>
    <div class="nav-item" (click)="navTo('/random')">RANDOM</div>
    <div class="nav-item" (click)="navTo('/category')">CATEGORY</div>
    <div class="nav-item" (click)="navTo('/achievement')">ACHIEVEMENT</div>
    <div class="nav-item" (click)="navTo('/config')">CONFIG</div>
</div>

@if (!activeMenu) {
    <div class="nav-button" (click)="onShowNav()">
        <span></span>
        <span></span>
        <span></span>
    </div>
}