table {
  border-collapse: collapse;
  width: 60%;
  margin: 0 auto 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  font-size: 20px;

  .name {
    width: 50%;
  }

  .name-body {
    display: flex;
    align-items: center;

    .icon {
      margin-left: 20px;
      width: 20px;
      height: 20px;
    }
  }

  .month {
    width: 100px;
    text-align: center;

  }

  .total {
    font-size: 22px;
    font-weight: 900;
    text-align: center;
  }

  .blur {
    filter: blur(0.3rem);
  }
}
th, td {
  padding: 14px 20px;
  text-align: left;
}
th {
  background-color: #00519f;
  color: white;
  font-weight: bold;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
tr:hover {
  background-color: #e0e0e0;
  font-size: 24px;
  font-weight: 700;
}
td {
  color: #333;
}

.number {
  width: 30px;
}

.icon--0 {
  fill: #FFD700;
}
.icon--1 {
  fill: #C0C0C0;
}
.icon--2 {
  fill: #cd7f32;
}
