<table>
    <tr>
        <th class="number">#</th>
        <th class="name">Name</th>
        <th class="month">November</th>
        <th class="month">December</th>
        <th class="total" (click)="onBlur()">Total</th>
    </tr>
    @for (user of students(); track user.id; let index = $index) {
        <tr>
            <td>{{ index + 1 }}</td>
            <td class="name">{{ user.name }}</td>
            <td class="month">{{ user['nov'] }}</td>
            <td class="month">{{ user['dec'] }}</td>
            <td class="total" [class.blur]="blurTotal">{{ user['nov'] + user['dec'] }}</td>
        </tr>
    }
</table>


<div class="list">
    @for (user of students(); track user.id) {
        <button class="button" (click)="onAdd(user)">{{ user.name }}</button>
    }
</div>